<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Development</title>
    <!-- CDNS: -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://kit.fontawesome.com/e68c61fca7.js" crossorigin="anonymous"></script>
    <!-- Back/Middle -->
    <script defer src="/L3_Programming/L3_server/node_requests/nodeReq.js"></script>

    <!-- Front End Scripts  -->
    <script defer src="/L3_Programming/L3_core/client/App.js"></script>
    <script defer src="/L3_Programming/L3_core/client/core.js"></script>
    <!-- Navigation:  -->
    <script defer src="/L3_Programming/L3_front/front_navigation/client/navigation.js"></script>
 
    

    <!-- Styles:  -->
    <!-- Main Styles: -->
    <link rel="stylesheet" href="/L3_Programming/L3_core/css/core.css">

    <!-- L3_devtools -->
    <link rel="stylesheet" href="/L3_Programming/L3_devtools/add_item/css/add_item.css">
    <!-- Front styles -->

        <!-- items -->
            <link rel="stylesheet" href="/L3_Programming/L3_front/front_items/css/items.css">
        <!-- login -->
            <link rel="stylesheet" href="/L3_Programming/L3_front/front_login/css/login.css">
        <!-- navigation -->
            <link rel="stylesheet" href="/L3_Programming/L3_front/front_navigation/css/navigation.css">
</head>
<body>
    <div id="app">
    <div v-show="developer_mode" id="add_new"> 
        <form @submit.prevent="add_new(new_item.new_name, new_item.new_price, new_item.new_img)" id="add_new_form"> 
            <input v-model="new_item.new_name" id="new_name" placeholder="Item Name" autocomplete="off">
            <input v-model="new_item.new_price" id="new_price" placeholder="Item Price" autocomplete="off">
            <input v-model="new_item.new_img" id="new_img" placeholder="Item Img src" autocomplete="off">
            <button>Add New</button>
        </form>
    </div>
     <!-- Search Bar -->
     <div id="search_bar"> 
        <input id="search_input" type="text" placeholder="Search"> 
        
     </div>
    

    <div id="flex_items"> 
        <div class="shop_item" v-for="item in shop_items"> 
            <strong>{{ item.ITEM_NAME }}</strong>
            <p>${{item.ITEM_PRICE }}</p>
            <img :src="item.img_source">

            <div class="desc_div"> 
                <p class="item_desc">{{ item.item_desc }}</p>
            </div>
            
        </div>
    </div>

    <nav> 
        <ul id="top_nav"> 
            <div id="left_seg"> 
                <li><a href="link.com">Compact order page</a></li>
                <li><a href="link.com">Home Page</a></li>
                <li><a href="link.com">Buyers Gurantee</a></li>
            </div>
            <div id="center_seg"> 
                <header>Tech Port</header>
            </div>
            <div id="right_seg"> 
                <li><a href="discord.com"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="insta.com"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="tiktok.com"><i class="fa-brands fa-tiktok"></i></a></li>
                <button @click="toggleDevMode">
                    <span v-if="developer_mode"><i class="fa-solid fa-toggle-off"></i></span>
                    <span v-if="!developer_mode"><i class="fa-solid fa-toggle-on"></i></span>
                </button>
            </div>
        </ul>
    </nav>






 
   
    </div>
</body>
</html>